<div ng-controller="movieController">

    <div id="section_topRated" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="search-container">
                    <h1 class="my-5 section-heading text-center">Top Rated Movies</h1>
                    <form class="d-flex searchForm" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search Movies" aria-label="Search"
                            ng-model="searchText.title">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
                <div class="card col-md-3 mx-1 my-3 p-2" ng-repeat="movie in topRatedMovies | filter:searchText">
                    <img class="card-img-top" ng-src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}"
                        alt="{{movie.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <h4 class="rating">Rating: {{movie.vote_average*10 | number:0}}%
                            <i class="fa-thin fa-star" ng-show="{{movie.vote_average>8}}"></i>
                        </h4>
                        <p class="card-text">
                            {{ movie.overview | limitTo: 100 }}
                            {{movie.overview.length > 100 ? '...' : ''}}
                        </p>
                        <a href="movie-details/{{movie.id}}" class="btn btn-outline-dark">Read more</a>
                        <!--  ng-click="getMovieDetails(movie.id)" -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-container">
        <img src="/assets/santa.jpeg" alt="santa banner" class="banner">
        <div class="banner-txt-container">
            <h1 class="banner-title">Check out the best</h1>
            <h1 class="banner-title">from 2022</h1>
        </div>
    </div>
    <div id="section_latest">
        <div class="container">
            <div class="row">
                <h1 class="my-5 section-heading text-center">Latest Movies</h1>
                <div class="card col-md-3 mx-1 my-3 p-2" ng-repeat="latestmovie in latestMovies | filter:searchText">
                    <img class="card-img-top" ng-src="https://image.tmdb.org/t/p/original/{{latestmovie.backdrop_path}}"
                        alt="{{latestmovie.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{latestmovie.title}}</h5>
                        <h4 class="rating">Rating: {{latestmovie.vote_average | number:0}}%
                            <i class="fa-thin fa-star" ng-show="{{latestmovie.vote_average>8}}"></i>
                        </h4>
                        <p class="card-text">
                            {{ latestmovie.overview | limitTo: 100 }}
                            {{latestmovie.overview.length > 100 ? '...' : ''}}
                        </p>
                        <a href="movie-details/{{latestmovie.id}}" class="btn btn-outline-dark">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="section_upcoming">
        <div class="container">
            <div class="row">
                <h1 class="my-5 section-heading text-center">Upcoming Movies</h1>
                <div class="card col-md-3 mx-1 my-3 p-2"
                    ng-repeat="upcomingmovie in upcomingMovies | filter:searchText">
                    <img class="card-img-top"
                        ng-src="https://image.tmdb.org/t/p/original/{{upcomingmovie.backdrop_path}}"
                        alt="{{upcomingmovie.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{upcomingmovie.title}}</h5>
                        <h6 class="date">Release date: {{upcomingmovie.release_date}}</h6>
                        <h4 class="rating">Rating: {{upcomingmovie.vote_average | number:0}}%
                            <i class="fa-thin fa-star" ng-show="{{upcomingmovie.vote_average>8}}"></i>
                        </h4>
                        <p class="card-text">
                            {{ upcomingmovie.overview | limitTo: 100 }}
                            {{upcomingmovie.overview.length > 100 ? '...' : ''}}
                        </p>
                        <a href="movie-details/{{upcomingmovie.id}}" class="btn btn-outline-dark">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>