<html ng-app="myModule">

<body ng-controller="movieDetailsController">
    <div ng-include="headerComponent">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="" alt="">
                </div>
                <div class="col-md-6">
                    <h1>Title</h1>
                    <h4>Rating</h4>
                    <h4>Cast</h4>
                    <p>description</p>
                    <a href="">IMDB</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>